{
    box-sizing: border-box;
}
body,
div,
ul,
li,
p,
a,
s,
b,
i,
u,
button,
span {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.lt {
    float: left;
}
.rt {
    float: right;
}
.clear {
    clear: both;
}

.hide{
    display: none;
}
.wd100{
    width: 100%;

}
.container{
    margin: auto;
    width: 1200px;
}
.container::before{
    content: "";
    display: table;

}
.container::after{
    content: "";
    display: table;
}

.img-respond{
    width: 100%;
}

.banner{
    width: 100%;
}

.banner a{
    display: inline-block;
    width: 100%;
}

.trend{
    width: 100%;
    height: 100%;
    margin-top: -4px;
    overflow: hidden;
    position: relative;
}

.h1-txt{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    line-height: 18px;
    color:#333;
    position: absolute;
    top: 80px;
    width: 100%;
}

.line{
    position: absolute;
    top: 150px;
    left: 50%;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    border-bottom: 2px solid #777;
}
.h3-txt{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin-top: 31px;
    margin-bottom: 33px;
    position: absolute;
    top: 170px;
    width: 100%;
}
.join{
    position: relative;
    width: 100%;
    margin-top: -5px;
}
.overlap{
    position: relative;
    width: 100%;
    margin-top: -5px;
}
.enroll{
    height: 670px;
    min-width: 1200px;
    width: 100%;
    background-color: #fff;
}
.enroll-txt{
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    line-height: 18px;
    color:#333;
    width: 100%;
    margin-top: 80px;
}
.enroll-line{
    margin-top: 30px;
    width: 100px;
    text-align: center;
    border-bottom: 2px solid #777;
    margin-left: 550px;
}
.enroll-h3-txt{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin-top: 31px;
    margin-bottom: 33px;
}
.join2{
    position: relative;
    width: 100%;
    margin-top: -5px;
}
/*****footer****/
.footer{
	background: url(../img/footer.jpg) no-repeat;
    width: 100%;
    margin-top: -5px;
    height: 410px;
    
}
.footer-left{
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}
.footer-general{
	position: absolute;
	left: 45px;
	font-size: 14px;
	color: #FFFFFF;
}
.address{
	top: 77px;
}
.service{
	top: 112px;
}
.other{
	top: 147px;
}
.contact_us{
	top: 218px;
}
.contact_tel{
	top: 253px;
	
}
.work_time{
	top: 288px;
}
/****footerright*****/
.footer-right{
	width: 380px;
	height: 276px;
	position: relative;
	float: left;
	margin-left: 100px;
	margin-top: 50px;
}
.mt-xl{
	width: 100%;
	margin: 5px auto;
	position: absolute;
    margin-left: auto;
	
}
.center{
	text-align: center!important;
	
}
.btn-footer{
	border: 1px solid #fff;
    padding: 5px 14px;
    border-radius: 3px;
    font-size: 14px;
}
.text-light{
	    color: #FFF!important;
}
.qmfont{
	font-family: "qmfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.qm-weibo:before{
	    content: "\e63b";
}
@font-face {font-family: "qmfont";
  src: url('//at.alicdn.com/t/font_tst21p5dl0kep14i.eot?t=1478505348688'); /* IE9*/
  src: url('//at.alicdn.com/t/font_tst21p5dl0kep14i.eot?t=1478505348688#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_tst21p5dl0kep14i.woff?t=1478505348688') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_tst21p5dl0kep14i.ttf?t=1478505348688') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_tst21p5dl0kep14i.svg?t=1478505348688#qmfont') format('svg'); /* iOS 4.1- */
}
.quickmark{
	margin-top: 40px;
}
/*****footercenter*****/
.footer-center{
	/*float: left;*/
	width: 100%;
	height: 24px;
	padding-top: 360px;
	position: absolute;
}
.footer-center>p{
	text-align: center;
	color: #ddd;
	font-size: 14px;
}
.footer-center>p>a{
	color: #FFFFFF;
	font-size: 14px;
}
.footer-center>p>a:hover{
	color: #ddd;
	font-size: 14px;
}
/*****headerAndmenu****/
#menu{
	position: fixed;
	z-index:999;
	width:100%;
	height:90px;
	top:32px;
	background:#fff;
	opacity: 0.95;
}
.header-box{
	width: 1200px;
	height:32px;
	margin: 0px auto;
}
.header-left{
	float: left;
}
.header-right{
	font-size: 12px;
	color:#fff;
	float:right;
	margin:8px 0px;
}
.header-right>a{
	color:#fff;
}
.menu-box{
	width: 1200px;
	height:80px;
	margin: 0px auto;
}
.menu-right>a{
	color: #489901;
}

/******填写用户申请信息******/
#thisForm{
	margin: auto;
	padding: 15px 0px 15px 0px;
	width: 585px;
	height: 325px;
}
.form-group{
	width: 585px 34px;
	clear: both;
	
}
.form-group label{
	display: inline-block;
	float: left;
	width: 97.5px;
	height: 22px;
	padding: 15px 0px 15px 0px;
}
.form-group input{
	float: left;
	font-size: 14px;
	width: 457.5px;
	height: 20px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.form-group textarea{
	float: left;
	font-size: 14px;
	width: 457.5px;
	height: 40px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.form-group span{
	color: red;
}
/*.form-group button{
	display: inline-block;
	font-size: 18px;
	text-align: center;
	vertical-align: center;
	width: 150px;
	height: 45px;
	padding: 10px 36px;
	color: #FFFFFF;
	border: none;
	background-color: #f8b600;
	border-radius: 4px;
	margin: 20px;
	margin-left: 98px;
}*/

.form-group a{
	display: inline-block;
	font-size: 18px;
	text-align: center;
	vertical-align: center;
	width: 78px;
	height: 25px;
	line-height: 25px;
	padding: 10px 36px;
	color: #FFFFFF;
	background-color: #f8b600;
	border-radius: 4px;
	margin: 20px;
	margin-left: 98px;
}














